@font-face {
   font-family: Moon;
   src: url(./assets/fonts/MoonLight.otf);
}
@font-face {
   font-family: MoonBold;
   src: url(./assets/fonts/MoonBold.otf);
}

#background {
   background-image: url("./assets/PLANTS.jpg");
   background-size: cover;
   background-repeat: no-repat;
   height: 2000px;
   font-family: Moon;
}

.main {
   padding-top: 20%;
   text-align: center;
}

.welcome {
   margin: 5px 30px;
}

.vertical-align {
   display: flex;
   align-items: center;
}

.big {
   font-size: 30px;
   font-weight: bold;
}

.content {
   padding-top: 20%;
   border-radius: 5px;
   text-align: center;
   transition: box-shadow .2s ease-in;
   box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   margin: 10px;
   opacity: .9;
}

.content:hover {
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


/* Navbar CSS */

.navbar-trans {
   background-color: transparent !important;
   border: none !important;
   transition: top 1s ease;
}

/*double row*/

.navbar-doublerow>.navbar {
   display: block;
   padding: 0px auto;
   margin: 0px auto;
   min-height: 25px;
}

.navbar-doublerow .nav {
   padding: 10px 0px;
}

.navbar-doublerow .dividline {
   margin: 5px 100px;
   padding-top: 1px;
   background-color: inherit;
}

/*top nav*/

.navbar-doublerow .navbar-top ul>li>a {
   padding: 10px auto;
   font-size: 16px;
   color: #fff;
}

.navbar-doublerow .navbar-top ul>li>a:visited {
   padding: 10px auto;
   font-size: 15px;
   color: #fff;
}

/*down nav*/

.navbar-doublerow .navbar-down .navbar-brand {
   padding: 0px auto;
   float: left;
   color: #fff;
   font-size: 32px;
}

.navbar-doublerow .navbar-down ul>li>a {
   font-size: 20px;
   color: #fff;
   transition: border-bottom .2s ease-in, text-shadow .2s ease-in;
}

.navbar-doublerow .navbar-down ul>li>a:visited {
   font-size: 20px;
   color: #fff;
   transition: border-bottom .2s ease-in, text-shadow .2s ease-in;
}

.navbar-doublerow .navbar-down ul>li>a:hover {
   text-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   border-bottom: 1px solid #fff;
   color: #fff;
}

.navbar-doublerow .navbar-down .dropdown {
   padding: 5px;
   color: #fff;
}

.navbar-doublerow .navbar-down .dropdown ul>li>a, .navbar-doublerow .navbar-down .dropdown ul>li>a:hover {
   color: #fff;
   border-bottom: none;
}

.navbar-doublerow.navbar-trans.afterscroll {}

.navbar-doublerow.navbar-trans.afterscroll {
   top: -50px;
}

.flex-container {
   display: flex;
   justify-content: space-between;
}

.flex-item {}

/*text*/

.text-white, .text-white-hover:hover {
   color: #fff !important;
}

/*fontcolor*/

.light-grey {
   color: #fff !important;
   background-color: #E6E9ED!important
}