.background {
   width: 100%;
}

.content {
   position: absolute;
   top: 20%;
}

.navbar-trans {
   background-color: transparent !important;
   border: none !important;
   transition: top 1s ease;
}

/*double row*/

.navbar-doublerow>.navbar {
   display: block;
   padding: 0px auto;
   margin: 0px auto;
   min-height: 25px;
}

.navbar-doublerow .nav {
   padding: 10px 0px;
}

.navbar-doublerow .dividline {
   margin: 5px 100px;
   padding-top: 1px;
   background-color: inherit;
}

/*top nav*/

.navbar-doublerow .navbar-top ul>li>a {
   padding: 10px auto;
   font-size: 12px;
   color: #000;
}

/*down nav*/

.navbar-doublerow .navbar-down .navbar-brand {
   padding: 0px auto;
   float: left;
   color: #fff;
   font-size: 32px;
}

.navbar-doublerow .navbar-down ul>li>a {
   font-size: 16px;
   color: #fff;
   transition: border-bottom .2s ease-in, text-shadow .2s ease-in;
}

.navbar-doublerow .navbar-down ul>li>a:hover {
   text-shadow: 4px 2px 5px rgb(0, 0, 0);   
   border-bottom: 1px solid #fff;
   color: #fff;
}

.navbar-doublerow .navbar-down .dropdown {
   padding: 5px;
   color: #fff;
}

.navbar-doublerow .navbar-down .dropdown ul>li>a, .navbar-doublerow .navbar-down .dropdown ul>li>a:hover {
   color: #fff;
   border-bottom: none;
}

.navbar-doublerow.navbar-trans.afterscroll {}

.navbar-doublerow.navbar-trans.afterscroll {
   top: -50px;
}

.flex-container {
   display: flex;
   justify-content: space-between;
}

.flex-item {}

/*text*/

.text-white, .text-white-hover:hover {
   color: #fff !important;
}

/*fontcolor*/

.light-grey {
   color: #fff !important;
   background-color: #E6E9ED!important
}