@font-face {
   font-family: Moon;
   src: url(./assets/fonts/MoonLight.otf);
}

@font-face {
   font-family: MoonBold;
   src: url(./assets/fonts/MoonBold.otf);
}

#background {
   /* background-image: url("./assets/PLANTS.jpg");
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 1500px; */
   background: #c9de96; /* Old browsers */
   background: -moz-linear-gradient(top, #c9de96 0%, #8ab66b 44%, #398235 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom, #c9de96 0%,#8ab66b 44%,#398235 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   font-family: 'Roboto Slab', serif;
}

.centered-row {
   display: flex;
   justify-content: center;
}

.main {
   padding-top: 15%;
   text-align: center;
   font-family: 'Roboto Slab', serif;
}

.welcome {
   margin: 5px 30px;
   font-family: 'Poppins', sans-serif;
}

.vertical-align {
   display: flex;
   align-items: center;
}

.big {
   font-size: 38px;
   font-weight: bold;
   font-family: 'Poppins', sans-serif;
}

.render img {
   width: 100%;
   cursor: pointer;
   border-radius: 30px;
}

.rendering img {
   width: 100%;
   cursor: pointer;
   border-radius: 30px;
}

.lightbox {
   display: flex;
   align-items: center;
   justify-content: center;
   position: fixed;
   top: 10%;
   height: 80%;
   width: 100%;
   text-align: center;
   margin: auto;
   z-index: 10;
}

.confirmation,
.message-confirmation {
   display: flex;
   align-items: center;
   justify-content: center;
   position: fixed;
   top: 10%;
   height: 80%;
   width: 100%;
   text-align: center;
   margin: auto;
   z-index: 1000;
   border-radius: 15px;
   box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.lightbox img {
   width: 75%;
   border-radius: 15px;
}

.learn-more {
   font-family: 'Roboto Slab', serif !important;
}

.zoom {
   animation-name: zoom;
   animation-duration: 0.5s;
}

.zoom-out {
   animation-name: zoom-out;
   animation-duration: 0.5s;
}

.hidden {
   display: none;
}

@keyframes zoom {
   from {
      transform: scale(0)
   }
   to {
      transform: scale(1)
   }
}

@keyframes zoom-out {
   from {
      transform: scale(1)
   }
   to {
      transform: scale(0)
   }
}

/* Navbar CSS */

.navbar {
   z-index: 10 !important;
   font-family: 'Poppins', sans-serif !important;
}

.navbar-trans {
   background-color: transparent !important;
   border: none !important;
   transition: top 1s ease;
}

/*double row*/

.navbar-doublerow>.navbar {
   display: block;
   padding: 0px auto;
   margin: 0px auto;
   min-height: 25px;
}

.navbar-doublerow .nav {
   padding: 10px 0px;
}

.navbar-doublerow .dividline {
   margin: 5px 100px;
   padding-top: 1px;
   background-color: inherit;
}

/*top nav*/

.navbar-doublerow .navbar-top ul>li>a {
   padding: 10px auto;
   font-size: 16px;
   color: #EDF5FC;
}

.navbar-doublerow .navbar-top ul>li>a:visited {
   padding: 10px auto;
   font-size: 15px;
   color: #EDF5FC;
}

/*down nav*/

.navbar-doublerow .navbar-down .navbar-brand {
   padding: 0px auto;
   float: left;
   color: #EDF5FC;
   font-size: 32px;
   cursor: pointer;
}

.navbar-doublerow .navbar-down ul>li>a {
   font-size: 20px;
   color: #EDF5FC;
   transition: border-bottom .2s ease-in, text-shadow .2s ease-in;
}

.navbar-doublerow .navbar-down ul>li>a:visited {
   font-size: 20px;
   color: #EDF5FC;
   transition: border-bottom .2s ease-in, text-shadow .2s ease-in;
}

.navbar-doublerow .navbar-down ul>li>a:hover {
   text-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
   border-bottom: 1px solid #EDF5FC;
   color: #EDF5FC;
}

.navbar-doublerow .navbar-down .dropdown {
   padding: 5px;
   color: #EDF5FC;
}

.navbar-doublerow .navbar-down .dropdown ul>li>a,
.navbar-doublerow .navbar-down .dropdown ul>li>a:hover {
   color: #EDF5FC;
   border-bottom: none;
}

.navbar-doublerow.navbar-trans.afterscroll {
   top: -50px;
}

.flex-container {
   display: flex;
   justify-content: space-between;
}

.drop-menu {
   position: absolute;
   top: 100%;
   left: -100;
   z-index: 1000;
   float: left;
   min-width: 160px;
   padding: 10px 10px;
   margin: 2px 0 0;
   list-style: none;
   text-align: left;
   background-color: #EEEEEE;
   border: 1px solid;
   border-radius: 5px;
   box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
   background-clip: padding-box;
}

.drop-menu li>a {
   color: black !important;
   text-decoration: none;
}

.nav-icon {
   width: 60px;
   height: 45px;
   position: relative;
   margin-top: 30px;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   -webkit-transition: 500ms ease-in-out;
   -moz-transition: 500ms ease-in-out;
   -o-transition: 500ms ease-in-out;
   transition: 500ms ease-in-out;
   cursor: pointer;
}

.nav-icon span {
   display: block;
   position: absolute;
   height: 5px;
   width: 100%;
   background: white;
   border-radius: 9px;
   opacity: 1;
   left: 0;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   -webkit-transition: 200ms ease-in-out;
   -moz-transition: 200ms ease-in-out;
   -o-transition: 200ms ease-in-out;
   transition: 200ms ease-in-out;
   box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.nav-icon span:nth-child(1) {
   top: 0px;
}

.nav-icon span:nth-child(2) {
   top: 18px;
}

.nav-icon span:nth-child(3) {
   top: 36px;
}

.nav-icon.open span:nth-child(1) {
   top: 18px;
   -webkit-transform: rotate(135deg);
   -moz-transform: rotate(135deg);
   -o-transform: rotate(135deg);
   transform: rotate(135deg);
}

.nav-icon.open span:nth-child(2) {
   opacity: 0;
   left: -60px;
}

.nav-icon.open span:nth-child(3) {
   top: 18px;
   -webkit-transform: rotate(-135deg);
   -moz-transform: rotate(-135deg);
   -o-transform: rotate(-135deg);
   transform: rotate(-135deg);
}

/*text*/
.text-white,
.text-white-hover:hover {
   color: #EDF5FC !important;
}

/*fontcolor*/

.light-grey {
   color: #EDF5FC !important;
   background-color: #E6E9ED !important
}

.name-field {
   width: 50%;
}

.email-field {
   width: 50%;
}

.field {
   padding: 1%;
}

input {
   text-align: center;
   border-radius: 5px;
}

textarea {
   border-radius: 5px;
}

.top-team-pics {
   border-radius: 15px;
   width: 100%;
}

.bottom-team-pics {
   width: 100%;
   height: auto;
   border-radius: 5px;
}

.img-headers {
   font-size: 26px;
   font-style: bold;
}

.img-desc {
   padding: 2%;
}

.contact-us {
   text-align: center;
}

.contact-field {
   width: 100%;
   margin: 0 2%;
}

.contact-email-field,
.subject-field,
.last-name-field,
.contact-name-field,
.contact-fields {
   width: 98%;
}

.contact-submit {
   padding: 1%;
}

.submit {
   border: none;
}

.row {
   margin: 0 !important;
}

@media all and (min-width: 768px) {
   .message-field {
      width: 60%;
      border: none;
      border-radius: 20px;
      outline: none;
      padding: 1%;
      transition: opacity .2s ease-in, box-shadow .2s ease-in;
   }
   .field {
      width: 60%;
      outline: none;
      height: 35px;
      padding-left: 15px;
      border: none;
      border-radius: 20px;
      margin-bottom: 20px;
      transition: opacity .2s ease-in, box-shadow .2s ease-in;
   }
   .content {
      padding-top: 1% !important;
      text-align: center;
      transition: opacity .2s ease-in, box-shadow .2s ease-in;
      box-shadow: 0 20px 35px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      opacity: 1;
   }
   .dropdown {
      display: none;
   }
}

@media all and (max-width: 767px) {
   .message-field {
      width: 98%;
      border: none;
      border-radius: 20px;
      outline: none;
      padding: 1%;
      transition: opacity .2s ease-in, box-shadow .2s ease-in;
   }
   .field {
      outline: none;
      height: 35px;
      padding-left: 15px;
      border: none;
      border-radius: 20px;
      margin-bottom: 20px;
      transition: opacity .2s ease-in, box-shadow .2s ease-in;
   }
   .content {
      padding-top: 20%;
      margin-top: 10%;
      text-align: center;
      transition: opacity .2s ease-in, box-shadow .2s ease-in;
      box-shadow: 0 20px 35px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      opacity: 1;
   }
   .dropdown {
      display: inherit;
   }
}

.message-field:focus {
   transition: opacity .2s ease-in, box-shadow .2s ease-in;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.field:focus {
   transition: opacity .2s ease-in, box-shadow .2s ease-in;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* Message field placeholder */

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder {
   /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {
   /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}